.container{
    padding-top: 10vh;
    width: 100%;
    height: 88vh;
}
.header-group{
    position: relative;
    top:28%;
    left: 25%;
}
.header-group h1{
    font-size: 500%;
}
.header-group h3{
    font-size: 400%;
}