<div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="form-title">Login</h1>
        <app-message *ngIf="this.showWrongCredentialsMessageBox"></app-message>
        <div *ngIf="showWrongCredentialsMessageBox" ></div>
        <div class="username-item">
            <label class="input-title" for="username-input">Username*</label>
            <input id="username-input" [ngClass]="{'input-element':true, 'input-element-error':this.loginForm.get('username').errors != null && this.loginForm.get('username').touched == true}" type="text" formControlName="username" autocomplete="off" placeholder="Enter your username">
            <small class="input-error" *ngIf="this.loginForm.get('username').errors?.['required'] != null && this.loginForm.get('username').touched == true"> This field is required. </small>
        </div>
        <div class="password-item">
            <label class="input-title" for="password-input">Password*</label>
            <input id="password-input" [ngClass]="{'input-element':true, 'input-element-error':this.loginForm.get('password').errors != null && this.loginForm.get('password').touched == true}" type="password" formControlName="password" placeholder="Enter your password">
            <small class="input-error" *ngIf="this.loginForm.get('password').errors?.['required'] != null && this.loginForm.get('password').touched == true"> This field is required. </small>
            <small class="input-error" *ngIf="this.loginForm.get('password').errors?.['minlength'] != null && this.loginForm.get('password').touched == true"> Password length has to be at least 6 characters. </small>
        </div>
        <div class="login-button-item">
            <input [disabled]="!this.loginForm.valid" type="submit" value="Login" class="submit-button" >
        </div>
    </form>
</div>

